/.gradle/
/.idea/
/build/

/1.21.8/build/
/1.21.10/build/
/1.21.11/build/
/26.1/build/

/1.21.8/.gradle/
/1.21.10/.gradle/
/1.21.11/.gradle/
/26.1/.gradle/

/1.21.8/run/
/1.21.10/run/
/1.21.11/run/
/26.1/run/

/.DS_Store